<h1>Comments</h1>

<% if ! comments.empty? %>
  <div class="section">
    <%= link_to 'Create Comment', new_ticket_comment_path(ticket) %>
  </div>
<% end %>

<% comments.order(created_at: :asc).each do |comment| %>
  <div class="section">
    <%= render comment %>
    <div><%= link_to 'Show', [ticket, comment] %></div>
  </div>
<% end %>
