<h1>Comments</h1>

<% if ! comments.empty? %>
  <div><%= link_to 'Create Comment', new_ticket_comment_path(ticket) %></div>
<% end %>

<% comments.each do |comment| %>
  <%= render comment %>
  <div><%= link_to 'Show', [ticket, comment] %></div>
<% end %>
