<h1>Comment</h1>

<div>
  Body:
  <%= @comment.body %>
</div>

<div>
  Ticket:
  <%= @comment.ticket %>
</div>

<div>
  Owner:
  <%= @comment.owner %>
</div>

<div><%= link_to 'Back', comments_path %></div>
