<h1>Tickets</h1>

<% if ! tickets.empty? %>
  <div class="section">
    <%= link_to 'Create Ticket', new_project_ticket_path(project) %>
  </div>
<% end %>

<% tickets.each do |ticket| %>
  <div class="section">
    <%= render ticket %>
    <div>
      <%= link_to 'Show', [project, ticket] %>
      <% if ticket.owner?(current_user) %>
        | <%= render 'tickets/actions_owner', project: project, ticket: ticket %>
      <% end %>
    </div>
  </div>
<% end %>
