<h1>Ticket</h1>

<%= render ticket %>

<%= render 'footer', project: project %>

<%= render 'comments/index', ticket: ticket, comments: comments %>

<h3>Create Comment</h3>

<%= render 'comments/form', ticket: ticket, comment: comment %>
