<h1>Projects</h1>

<div class="section">
  <%= link_to 'Create Project', new_project_path %>
</div>

<% projects.order('created_at asc').each do |project| %>
  <div class="section">
    <%= render project %>
    <div>
      <%= link_to 'Show', project %>
      <% if project.owner?(current_user) %>
        | <%= render 'actions_owner', project: project %>
      <% end %>
    </div>
  </div>
<% end %>
