<h1>Project</h1>

<%= render 'project', project: @project %>

<%= render 'footer' %>

<%= render 'tickets/index', project: @project, tickets: @tickets %>

<h1>Create Ticket</h1>

<%= render 'tickets/form', project: @project, ticket: @ticket %>
